.header {
  width: 100%;
  height: 100px;
  background: #0a1c20;
  h1 {
    position: relative;
    width: 100px;
    height: 57px;
    top: 20px;
    margin: 0 auto;
    background: url('../assets/logo.png') no-repeat;
    background-size: 100%;
    &.home {
      @include single-transition(all, 2s, linear);
      top: 140px;
      width: 400px !important;
      height: 228px !important;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -99999px;
    }
  }
}

@include bp(940, 320) {
  .header {
    width: 100%;
    height: 60px;
    background: #0a1c20;
    h1 {
      position: relative;
      width: 60px;
      height: 34px;
      top: 13px;
      margin: 0 auto;
      background: url('../assets/logo.png') no-repeat;
      background-size: 100%;
      &.home {
        @include single-transition(all, 2s, linear);
        top: 140px;
        width: 400px !important;
        height: 228px !important;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -99999px;
      }
    }
  }
}